html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: square;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
  padding: 100px 0 100px 0
}
.container{
  margin: 0 auto 0 auto;
  position: relative;
  width: 442px;
  height: 492px;
  border: solid 2px rgb(200, 200, 200);
  padding: 40px 30px 40px 50px;
  border-radius: 2%;
  color: rgb(169, 169, 169);
	font-family: sans-serif;
}
h2{
	position: absolute;
	font-size: 3.2em;
	color: white;
	right: -35px;
	border-radius: 50%;
	top: 75px;
	background-color: rgb(200, 200, 200);
	padding: 40px 50px 40px 50px;
	margin: 0;
}
h1{
	color: #32cd32;
	font-size: 2em;
	font-weight: bold;
	margin: 30px 0 60px 0;
}
p{
	margin-bottom: 30px;
	font-size: 1.7em;
	font-weight: bold;
}
ul{
	margin-bottom: 50px;
	padding-left: 25px;
	font-size: 1.8em;
	line-height: 1.7em;
}
a {
		color: #1e90ff;
		text-decoration: none;
    position: relative;
}
a:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: -4px;

    border-width: 0 0 1px;
    border-style: solid;
		border-color: rgb(200, 200, 200);
}
img{
	position: relative;
	height: 40px;
	width: 40px;
	margin:0 10px 0 10px;
	opacity: .8;
}
