.container{
  margin: 10px;
  padding: 10px;
}
button{
  display: inline;
}
.counter{
  margin: 10px;
  padding: 10px;
  border: solid 2px black;
  width: 10px;
  text-align: center;
  display: inline;
}
