@import 'reset';

p {
  color: red;
}
ul {
  margin-left: 25px;
  display: inline-block;
}
li {
  padding-bottom: 10px;
}
.details{
  color: red;
}
.planet{
  color: blue;
  font-size: 18px;
  padding-bottom: 10px;
}
