div{
  padding: 20px;
  margin: 10px auto 10px auto;
}
.container{
  width: 400px;
  margin: 0 auto;
}
label{
  display: block;
  padding: 10px;
}
.page{
  display: none;
}
.form-pages{
  border: solid 1px black;
  padding: 0;
  margin: 0;
}
.buttons{
  padding: 0px;
}
.incomplete{
  border-color: red;
}
.incomplete-buttons{
  color: red;
}
.incomplete-p{
  color: red;
  padding-left: 30px;
}
#prev{
  display: none;
}
#next{
  display: inline;
}
#submit{
  display: none;
}
