div{
  border: solid 1px black;
  padding: 20px;
  margin: 10px auto 10px auto;
}
.container{
`width: 600px;`
}
label{
  display: block;
  padding: 10px;
}
.page{
  display: none;
}
.form-pages{
  border: solid 1px black;
  padding: 0;
  margin: 0;
}
