html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.black-bg{
  background-color: #151617;
}
header{
  font-family: Karla, Helvetica, sans-serif;
  width:620px;
  margin: 0 auto;
  overflow: auto;
}
.header-logo{
  width:110px;
  padding: 50px 0 0 0;
  margin-bottom: 15px;
}
.make-this-year{
  display: block;
}
.h1-header{
  color: white;
  font-size: 46px;
  font-weight: bold;
  margin-top: 60px;
}
.purple-header{
  color: #ae5cc8;
  font-size: 46px;
  font-weight: bold;
}
.p-header{
  color: white;
  font-size: 22px;
  margin-top: 69px;
}
.p-header span{
  font-weight: bold;
}
.button{
    margin-top: 40px;
    margin-bottom: 80px;
    width: 190px;
    color: white;
    padding: 20px 20px;
    background: #ae5cc8;
    font-size: 20px;
    font-family: 'Karla',Helvetica,sans-serif;
    border-radius: 3px;
    border: 0;
    outline: none;
    display: inline-block;
    float: none;
  }
#email1{
    margin-top: 40px;
    margin-bottom: 80px;
    color: #b2b2b2;
    opacity: 1;
    width: 370px;
    padding: 19px 20px;
    margin-right: 16px;
    background: #E6E6E6;
    color: #A7A7A7;
    float: left;
    border: solid 2px transparent;
    font-size: 20px;
    font-family: 'Karla',Helvetica,sans-serif;
    border-radius: 3px;
    display: inline;
  }
.instructors{
    font-family: 'Karla',Helvetica,sans-serif;
    width: 620px;
    margin: 0 auto;
  }
.instructors h2{
    margin-top: 77px;
    font-size: 22px;
    line-height: 21px;
    margin-bottom: 36px;
    font-weight: bold;
  }
.instr-pics{
    clear: both;
    overflow: auto;
    width: 620px;
    margin: 0 auto;
  }
.first-two{
    height: 130px;
    width: 193px;
    margin-right: 20px;
    float: left;
  }
.last-pic{
    height: 130px;
    width: 193px;
    float: left;
    margin: 0;
  }
.inst-text{
    width: 620px;
    margin: 0 auto;
    overflow: auto;
  }
.text-float{
    float: left;
    width: 193px;
    margin-right: 20px;
  }
.text-float h2{
    font-style: normal;
    font-family: Karla, Helvetica, sans-serif;
    display: block;
    margin: 11px 0 4px 0px;
    font-size: 19px;
    color: #000000;
  }
.text-float p{
    font-size: 15px;
    font-family: Karla, Helvetica, sans-serif;
    line-height: 21px;
    color: #9c9c9c;
}
.last-text{
    float: left;
    width: 193px;
  }
.last-text h2{
    font-style: normal;
    font-family: Karla, Helvetica, sans-serif;
    display: block;
    margin: 11px 0 4px 0;
    font-size: 19px;
    color: #000000;
  }
.last-text p{
    font-size: 15px;
    font-family: Karla, Helvetica, sans-serif;
    line-height: 21px;
    color: #9c9c9c;
}
.article{
  width: 620px;
  font-family: Karla, Helvetica, sans-serif;
  margin: 89px auto 0 auto;;
}
.article h2{
  font-size: 22px;
  font-weight: bold;
}
.article p{
  margin: 28px 0;
  font-size: 19px;
  line-height: 28px;
}
#mikael{
  font-size: 15px;
  padding-top: 6px;
  color: #999999;
  margin-top: -18px;
}
.img-links{
  width: 620px;
  margin: 0 auto;
  padding-top: 100px;
  overflow: auto;
}
.img-links ul{
  overflow: auto;
}
.img-links li{
  float: left;
  width: 30%;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}


.footer-inputs{
  width: 620px;
  margin: 0 auto;
}
.p-footer{
  color: black;
  font-size: 22px;
  margin-top: 69px;
  line-height: 1.4em;
  font-family: Karla, Helvetica, sans-serif;
}
.p-footer span{
  font-weight: bold;
}

#email2{
    margin-top: 40px;
    margin-bottom: 80px;
    color: #b2b2b2;
    opacity: 1;
    width: 370px;
    padding: 19px 20px;
    margin-right: 16px;
    background: #E6E6E6;
    color: #A7A7A7;
    float: left;
    border: solid 2px transparent;
    font-size: 20px;
    font-family: 'Karla',Helvetica,sans-serif;
    border-radius: 3px;
    display: inline;
  }
footer{
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 65px;
  width: 620px;
  font-family: 'Karla',Helvetica,sans-serif;
  font-size: 15px;
  opacity: 1;
}
footer p{
  display: inline;
  color: #999999;
}
footer img{
  display: inline;
  opacity: .5;
}
@media(max-width: 619px){
  header h1{
    font-size: 31px;
    margin-top: 38px;
    line-height: 40px;
  }
  header p{
    font-size: 20px;
    line-height: 31px;
}
  .make-this-year{
    max-width: 200px;
  }

  .instructors{
    width: 90%;
    margin-bottom: 30px;
  }
  .instr-pics{
    float: left;
    width: 38%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .instr-pics img{
    float: none;
    width: 110px;
    height: 110px;
    padding-top: 20px;
  }
  .inst-text{
    float: left;
    width: 54%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .text-float{
    padding-top: 30px;
    float: none;
  }
  .last-text{
    float: none;
    padding-top: 30px;
  }
  .article{
    padding-top: 30px;
    clear: both;
    width: 80%;
    margin: 0 auto;
  }
  .article h2{
    font-size: 20px;
    line-height: 1.4em;
  }
  .article p {
    font-size: 16px;
    line-height: 27px;
  }
}
